DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'cliprdf',                      # Or path to database file if using sqlite3.
        'USER': 'cliprdf',                      # Not used with sqlite3.
        'PASSWORD': 'cliprdf',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

#Triple store
VIRTUOSO_HOST = "localhost"
VIRTUOSO_USER = "dba"
VIRTUOSO_PASS = ""
VIRTUOSO_WORK_DIR = ""
DATA_GRAPH = "http://www.rdfclip.com/data"
SCHEMA_GRAPH = "http://www.rdfclip.com/schema"
