.container{
    margin-top: 10px;
}

#imgDiv{
    text-align: center;
}

TH{
    text-align: left;
}

TABLE{
    width: 100%;
}

LABEL{

    font-size: 8pt;
    font-weight: bold;
}

.propertyHeader{
    width: 420px; 
}
.propertyHeader, .valueHeader{
    text-align: center;
}

#inputSearch,#inputUri{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#inputEndpoint, #inputLabelUri, #inputGraph{
    width: 27%;
}

TR.even{
    background: #DEDEDE;
}

#searchResultsTable .propertyHeader{
    width: 100%;
}

.inputField{
    width: 100%;
}

.propertySelectList{
    position: absolute;
    text-align: left;
    max-height: 300px;
    width: 200px;
    overflow: auto;
}

.propertySelectList li{
    padding: 3px;
    background: white;
}

.newPropertyRow{
    /* background : #C2C2F2 */
}

.newPropertyRow input{
    background: transparent;
    border: 1px solid transparent;
    font-size: 12px;
    cursor: pointer;
    border-left: 0;
    padding-left: 0;
    width: 100%;
}

.newPropertyRow input.focus{
    border: 1px solid #CCCCCC;
    background: white;
    cursor: text;
}

.newPropertyRow input.empty{
    color: #CCC;
}
